<app-spinner *ngIf="loading"></app-spinner>
<div class="col-md-2" style="padding: 0;
background-color: #242536; height: 100vh;">
<div style="margin-top: 15px;">
  <p  class="sidetext" routerLinkActive="active"(click)="mislist()" ><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;MIS List</p>
    <p class="sidetext active"  (click)="materialnewlist()"routerLinkActive="active" ><i class="fa fa-plus"></i>&nbsp;&nbsp;New
                Request</p>
     
            <p class="sidetext"(click)="uploadpart()" routerLinkActive="active"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload
                Partlist</p>
      
                <!-- <ng-container class="dropdown-item" *ngIf="isStoreUser">
                  <p  (click)="StockUpload()"><i
                      class="fa fa-upload"></i>&nbsp;&nbsp;Stock Upload</p>
                </ng-container> -->
      
       
        
           
    </div>
</div>
<div class="col-md-10">
<div class="row">
  <div class="col-md-4">
    <h4>Material Issue Slip</h4>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-2" style="padding-right: 40px;">
   
  </div>
</div>
<div class="row" style="
padding: 10px;
width: 100%;">
  <form [formGroup]="form">
    <div class="">
      <div class="row">
        <div class="col-md-3">

          Project
          <dot></dot>

          <input type="text" class="form-control" value="" formControlName="project" placeholder="Enter Project Name">
          <small class="text-danger errormsg" *ngIf="
                      !form.controls.project.valid &&
                      form.controls.project.touched
                    ">Project is required</small>
        </div>
        <div class="col-md-3"> Purpose<dot></dot>
          <input type="text" class="form-control" value="" formControlName="purpose" placeholder="Enter Purpose">
          <small class="text-danger errormsg" *ngIf="
                  !form.controls.purpose.valid &&
                  form.controls.purpose.touched
                ">Purpose is required</small>
        </div>
        <div class="col-md-3">Contact Number <dot></dot>
          <input type="text" class="form-control" value="" formControlName="contactno" maxlength="10"
            placeholder="Enter Contact Number" (keypress)="AllowNumber($event)">
          <small class="text-danger errormsg" *ngIf="
          !form.controls.contactno.valid &&
          form.controls.contactno.touched
        "> Contact Number is required</small>
        </div>
        <div class="col-md-3"> HR ID <dot></dot>
          <input type="text" class="form-control" value="" formControlName="hrid" placeholder="HR/1234">
          <small class="text-danger errormsg" *ngIf="
          !form.controls.hrid.valid &&
          form.controls.hrid.touched
        "> HR ID is required</small>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr class="tableheader">
            <th>S.No</th>
            <th>Part Number <dot></dot>
            </th>
            <th>Part Description <dot></dot>
            </th>
            <th>ZGS <dot></dot>
            </th>
            <th>Quantity <dot></dot>
            </th>
            <th>Part Availability Check <dot></dot>
            </th>
            <th style="width:20%;">Part Availability Check Status
            </th>
            <th> Remarks
            </th>
            <th>Delete</th>
          </tr>
          <tbody formArrayName="misParts">
            <tr class="tablerow" *ngFor="let row of rowForms.controls;let j =index" [formGroupName]="j">
              <td style="text-align: center;">
                {{(j+1)}}
              </td>
              <td>
                <input type="text" class="form-control" formControlName="partnumber" minlength="8" maxlength="15"
                  (keypress)="nospace($event)">
                <small class="text-danger errormsg" *ngIf="
                !row.controls.partnumber.valid &&
                row.controls.partnumber.touched
              ">Part Number is required <br>(Should be minimum 8 characters) </small>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="description">
                <small class="text-danger errormsg" *ngIf="
                !row.controls.description.valid &&
                row.controls.description.touched
              ">Part Description is required</small>
              </td>
              <td> <input type="text" class="form-control" formControlName="zgs">
                <small class="text-danger errormsg" *ngIf="
          !row.controls.zgs.valid &&
          row.controls.zgs.touched
        ">ZGS is required</small></td>
              <td>
                <input type="text" class="form-control" formControlName="quantity" (keypress)="AllowNumber($event)">
                <small class="text-danger errormsg" *ngIf="
          !row.controls.quantity.valid &&
          row.controls.quantity.touched
        ">Quantity is required</small>
              </td>
              <td style="text-align: center;">
                <ng-container
                  *ngIf="row.value.quantity == null || row.value.partnumber == null || row.value.zgs == null ">
                  <button [disabled]="nextLibAvailable(row.value)" class="btn btn-primary btn-sm"
                    (click)="checksinglepart(j)">Check Availability </button>
                </ng-container>
                <ng-container
                  *ngIf="row.value.quantity != null && row.value.partnumber != null && row.value.zgs != null ">
                  <button [disabled]="patchLibAvailable(row.value)" class="btn btn-primary btn-sm"
                    (click)="checksinglepart(j)">Check Availability </button>
                </ng-container>
                <!-- <ng-container *ngIf="row.value.partavailable != null">
                    <img src="assets/images/success.png" class="img-responsive" style="position: relative;
                      top: 13px; width: 12px;"><input type="text" class="partform"  formControlName="partavailable" style="border: none;
                      background: transparent;" disabled>
                     </ng-container> -->

              </td>

              <td>
                <input type="text" class="form-control" formControlName="partavailable" style="" disabled>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="partremarks">
                <small class="text-danger errormsg" *ngIf="
                !row.controls.partremarks.valid &&
                row.controls.partremarks.touched
              "> Remarks is required</small>
              </td>
              <td class="text-center"> <button *ngIf="rowForms.controls.length >1" class="btn btn-default"
                  (click)="deleteRow(j)"><i class="fas fa-trash"></i></button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="text-align: right;">
      <button class="btn btn-default btn-md" (click)="addRow()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Row</button>
    </div>
    <div class="col-md-12">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <label>Remarks <dot></dot></label>
        <input class="form-control" type="text" formControlName="reqremarks">
        <small class="text-danger errormsg" *ngIf="
                !form.controls.reqremarks.valid &&
                form.controls.reqremarks.touched
              "> Remarks is required</small>
        <br>
        <!-- <label class="control control--checkbox">
          <input type="checkbox" class="chkboxes checksingle">
          <div class="control__indicator checkcolor "></div>
        </label> -->
        <br>
      </div>
    </div>
  </form>
  <br>

  <div style="text-align: right;padding-bottom: 30px;">
    <button class="btn btn-primary btn-md" (click)="submitForm()"><i class="fa fa-save"></i>&nbsp;&nbsp;Submit</button>
  </div>
</div>
</div>


<!-- confirm modal -->

<div class="modal fade" id="confirmSubmit" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10">
            <p class="modalHeader" style="font-weight: 600;">Submit</p>
          </div>
          <div class="col-md-2">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <br>
          <div class="col-md-12">
            <p> Are you sure to submit the form ?</p>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">No </button>
      <button type="button" class="btn btn-sm btn-primary" (click)="confirmSubmit()">Yes</button>
    </div>
  </div>
  </div>
</div>
