input::-webkit-calendar-picker-indicator {
    display: none;
  }
  .sidetext{
    color: #fff;
    padding: 7px 20px;
    margin: 8px 0;
    cursor: pointer;
  }
  p.active{
    background: #030305;
    color: #fff;
    box-shadow: 0 0 2px 0 #828387;
    border-left: 4px solid #ffb946;
    margin-left: 6px;
    white-space: nowrap;
  }
  p.sidetext:hover{
    background: #030305;
    color: #fff;
    box-shadow: 0 0 2px 0 #828387;
    border-left: 4px solid #ffb946;
    /* margin-left: 6px; */
    white-space: nowrap;
  }