
.proto-table > tr > th{
  /* border: 1px solid #9e9e9e3d !important; */
  padding: 12px;
  /* color: #000; */
  width: 40%;
 background: rgb(235,235,235);
  border: 1px solid rgb(220,220,220);

  font-weight: 600;

}
.part-table > tr > th{
  /* border: 1px solid #9e9e9e3d !important; */
  padding: 12px;
  background: rgb(235,235,235);
  border: 1px solid rgb(220,220,220);
  font-size: 12px;
  font-weight: 600;

}

.proto-table > tr > td{
  border: 1px solid rgb(220,220,220);
  padding: 12px;
  font-weight: 500;
  width: 60%;
  font-size: 12px;
}
.part-table > tr > td{
  border: 1px solid rgb(220,220,220);
  padding: 12px;
  font-weight: 500;
  font-size: 12px;
}

 td {
  border: 1px solid rgb(220,220,220);
}
table.table,  td, th{
  margin-bottom: 0px;
  border: 1px solid rgb(220,220,220);
  font-size: 12px;
}
input#date:focus {
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}
.sidetext{
  color: #fff;
  padding: 7px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-left: 4px solid #242536;
}
.active{
  background: #030305;
  color: #fff;
  box-shadow: 0 0 2px 0 #828387;
  border-left: 4px solid #ffb946;
  /* margin-left: 6px; */
  white-space: nowrap;
}
p.sidetext:hover{
  background: #030305;
  color: #fff;
  box-shadow: 0 0 2px 0 #828387;
  border-left: 4px solid #ffb946;
  /* margin-left: 6px; */
  white-space: nowrap;
}
#finasid{
  outline: none;
}
