<div class="row">
    <div class="col-md-12" style="margin-top: 30px;">
        <div class="col-md-4">
            <div class="card">
                <div class="col-md-12">
                    <h4>Department Vs Issued</h4>
                </div>
                <div [chart]="waterfallchart1" class="chartbody" id="waterfall1"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="col-md-12">
                    <h4>Category Vs Issued</h4>
                </div>
                <div [chart]="waterfallchart2" class="chartbody" id="waterfall2"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="col-md-12">
                    <h4>expiry vs Available</h4>
                </div>
                <div [chart]="waterfallchart3" class="chartbody" id="waterfall3"></div>
            </div>
        </div>
    </div>
</div>