
<app-spinner *ngIf="loading"></app-spinner>

<div class="col-md-12" style="margin-top:10px;">
    <div class="col-md-4">
        <h4>Finas ID Generation</h4>
    </div>
    <div class="col-md-4">
        <!-- <input type="text" class="form-control"> -->
    </div>

    <div class="col-md-4" style="text-align: right;">
        
            <!-- <input type="button" value="New Request" class="btn btn-primary" (click)="addsto()" style="margin-right: 0px;"> -->
           
                <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                            <i class="icon-list"></i>
                            <!-- Actions -->
                            &nbsp;&nbsp;Menu &nbsp;<i class="icon-caret-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 30%;padding: 4px;background: #dedede;">
                            <button  *ngIf="!isStoreLogin" class="btn btn-primary dropdown-item" (click)="finasidlist()"><i class="icon-plus"></i>&nbsp;&nbsp;New Request</button>
                       <!-- <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                  </div>    
      
        </div>
    
</div>

