<app-spinner *ngIf="loading"></app-spinner>
<div class="col-md-2" style="padding: 0;
background-color: #242536; height: 100vh;">
  <div style="margin-top: 15px;">
    <p class="sidetext"  (click)="protolists()"  routerLinkActive="active" ><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;Proto List</p>
    <p class="sidetext"  (click)="addproto()" routerLinkActive="active"><i class="fa fa-plus"></i>&nbsp;&nbsp;New
      Request</p>

    <p class="sidetext" *ngIf="isOFMVisible" (click)="showOFM()"><i class="fa fa-calendar"></i>&nbsp;&nbsp;OFM</p>
 


  </div>
</div>
<div class="col-md-10">
<div class="wrap">
  <div class="row">
    <div class="col-md-4">
      <h4>Proto Retrofitment</h4>
    </div>
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-2" style="padding-right: 30px;">
      <button class="btn btn-default" style="float: right" (click)="goBack()"><i
          class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
    </div>
  </div>
  <form [formGroup]="ProtoReqForm" autocomplete="off">
    <div class="row" style="
      width: 100%;">
      <div class="col-md-3">
        <div class="form-group  text-field">
          Contact Number <dot></dot>
          <input type="text" class="form-control" value="" formControlName="contactno" maxlength="10"
            (keypress)="keyAlpha($event)" style="font-weight: 400;">
        </div>
        <small class="text-danger" *ngIf="
          !ProtoReqForm.controls.contactno.valid &&
          ProtoReqForm.controls.contactno.touched
        ">Contact Number is invalid</small>
      </div>
      <div class="col-md-3">
        <div class="form-group  text-field">
          Approver L4 <dot></dot>
          <select class="form-control" formControlName="l4" style="width:180px;">
            <option value=null selected disabled>Select Approver L4 </option>
            <option value="{{data.shortid}}" *ngFor="let data of l4ProtoUsers">{{data.firstname}} {{data.lastname}}
            </option>
          </select>
        </div>
        <small class="text-danger" *ngIf="
      !ProtoReqForm.controls.l4.valid &&
      ProtoReqForm.controls.l4.touched
    "> L4 is required</small>
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row" style="width:100%;padding: 10px 0px;">
      <div class="col-md-12">
        <h5 class="border-style" style="font-weight: 600;">Category</h5>
      </div>
    </div>
    <div class="row" style="width:100%;padding: 10px 0px;">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control control--checkbox">Retro Fitment
            <input type="checkbox" class="chkboxes" id="protocat1" value="1">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="control control--checkbox">Trail
            <input type="checkbox" class="chkboxes" id="protocat2" value="2">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="control control--checkbox">Failure
            <input type="checkbox" class="chkboxes" id="protocat3" value="3">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="control control--checkbox">Others
            <input type="checkbox" class="chkboxes" id="protocat4" value="4"
              (click)="CategoryOthers($event,$event.target.value)">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <span *ngIf="categoryOthershow">
          <textarea type="text" class="form-control" formControlName="categoryothers" style="height: 34px;">
      </textarea>
        </span>
      </div>
    </div>
    <div class="row" style="width:100%;padding: 10px 0px;">
      <div class="col-md-12">
        <h5 class="style-border" style="font-weight: 600;">Types of Activity</h5>
      </div>
    </div>
    <div class="row" style="width:100%;padding: 10px 0px;">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control control--checkbox">Retrofitment was planned at the time of vehicle sign off
            <input type="checkbox" id="act1" class="chk" value="1">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control control--checkbox">Retrofitment due to testing feedback
            <input type="checkbox" id="act2" class="chk" value="2">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control control--checkbox">Retrofitment due to Field Issue
            <input type="checkbox" id="act3" class="chk" value="3">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control control--checkbox">IMCS / Cost Reduction Proposal
            <input type="checkbox" id="act4" class="chk" value="4">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
    </div>

    <div class="row" style="
                width: 100%;padding:5px 0px;">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control control--checkbox">Others
            <input type="checkbox" id="act5" class="chk" value="5" (click)="PartOthers($event,$event.target.value)">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <span *ngIf="typeOthershow">
          <textarea type="text" class="form-control" formControlName="retrofitmentothers" style="height:34px;">
          </textarea>
        </span>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row" style="
      width: 100%;">
      <div class="col-md-3">
        <div class="form-group  text-field">
          Function <dot></dot>
          <select class="form-control" (change)="partFunction($event.target.value)" formControlName="supervisor"
            style="font-weight: 400 !important;">
            <option value=null selected disabled>Select Function</option>
            <option value="hdtsupervisor">Vehicle HDT</option>
            <option value="mdtsupervisor">Vehicle MDT</option>
            <option value="aggregateengine">Engine</option>
            <option value="aggregatetransmission">Transmission</option>
            <option value="aggregateaxle">Axle</option>
            <option value="ppssupervisor">PPS</option>
          </select>

        </div>
        <small class="text-danger" *ngIf="
      !ProtoReqForm.controls.supervisor.valid &&
      ProtoReqForm.controls.supervisor.touched
    ">Function is required</small>
      </div>
      <div class="col-md-3">
        <div class="form-group  text-field">
          Sub Function

          <ng-container *ngIf="!VehicleHDTandMDT && !VehicleEngandTransandAxle && !VehiclePPS">
            <ng-multiselect-dropdown [class]="'my-class'" [placeholder]="'Please Select Sub Function'"
              [disabled]="disabled" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </ng-container>
          <ng-container *ngIf="VehicleHDTandMDT">
            {{multiselected}}
            <ng-multiselect-dropdown [data]="subfunction" formControlName="subsupervisor" [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </ng-container>
          <ng-container *ngIf="VehicleEngandTransandAxle">
            {{multiselected}}
            <ng-multiselect-dropdown [data]="subfunctionlist" formControlName="subsupervisor"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </ng-container>
          <ng-container *ngIf="VehiclePPS">
            {{multiselected}}
            <ng-multiselect-dropdown [data]="subfunctionppslist" formControlName="subsupervisor"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </ng-container>

        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group  text-field">
          Project Name <dot></dot>
          <input type="text" class="form-control" id="Prtname" formControlName="projectname" style="font-weight: 400;">
        </div>
        <small class="text-danger" *ngIf="
      !ProtoReqForm.controls.projectname.valid &&
      ProtoReqForm.controls.projectname.touched
    ">Project Name is required</small>
      </div>
      <div class="col-md-3">
        <div class=" text-field">No of Vehicle / Object <dot></dot>
          <div class="row" style="width:100%;">

            <div class="col-md-2">

              <button class="btn btn-default" *ngIf="novehicle.controls.length >1" (click)="deletevehicle(novehicle.controls)"><i
                  class="fa fa-minus"></i></button>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" [value]="novehicle.controls.length"
                formControlName="noofvehicleorobj" id="novchobj" style="text-align:center;font-weight: 700;position: relative;
                left: 12px;" readonly />
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" (click)="addvehicle()"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 style="font-weight: 600;">No of Vehicle / Object</h5>
    <div class="row" style="width:100%">
      <div class="col-md-12">
        <table class="table table-bordered" id="protorequest" style="width:100%;">
          <tr class="tableheader">
            <th>S.No</th>
            <th>Vehicle / Aggregate Number</th>
            <th>Vehicle / Model Number <dot> </dot>
            </th>
            <th>Vehicle / Aggregate Owner Short Id <dot> </dot>
            <th>Vehicle / Aggregate Owner Name </th>
            <th>Expected Start Date <dot> </dot>
            </th>
          </tr>
          <tbody formArrayName="prvehiclemaster">
            <tr class="tablerow" *ngFor="let data of novehicle.controls;let i =index;" [formGroupName]="i">
              <td>{{i+1}}</td>
              <td>
                <input type="text" class="form-control" formControlName="vehicleaggregateno">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="modelnumber" placeholder="914R/3500WB/BSIV"
                  style="">
                <small class="text-danger" *ngIf="
              !data.controls.modelnumber.valid &&
              data.controls.modelnumber.touched
            ">Vehicle / Model Number is required</small>
              </td>
              <td>
                <input type="text" class="form-control" id="searchvalue" formControlName="ownershortid"
                  (input)="search($event.target.value)" list="ownername" autocomplete="off"><i
                  class="fa fa-search search" (click)="searchOwner(i)"></i>
                <datalist id="ownername">
                  <ng-container *ngFor="let search of searchlist">
                    <option value="{{search}}">{{search}}</option>
                  </ng-container>
                </datalist>
                <small class="text-danger" *ngIf="
              !data.controls.ownershortid.valid &&
              data.controls.ownershortid.touched
            ">Vehicle / Aggregate Owner ShortID is required</small>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="ownername" disabled>
              </td>
              <td>
                <!-- <input type="Date" class="form-control" formControlName="startdate"> -->
                <input formControlName="startdate" type="text" placeholder="DD/MM/YYYY" class="form-control"
                  bsDatepicker id="date{{i}}" [minDate]="today"
                  [bsConfig]="{ adaptivePosition: true,dateInputFormat: 'DD-MM-YYYY' }">
                <small class="text-danger" *ngIf="
              !data.controls.startdate.valid &&
              data.controls.startdate.touched
            ">Expected Start Date is required</small>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="    font-weight: 600;
      color: #009688;font-size: 16px;">Note : Kindly confirm the vehicle / aggregate availability from vehicle /
          aggregate
          owner and Proto Supervisor Confirmation before selecting the date.
        </p>
      </div>

    </div>
    <div class="row" style="width: 100%;">
      <div class="col-md-6">
        <div class="form-group text-field">
          System Name <dot> </dot>
          <input type="text" class="form-control" id="systname" formControlName="systemname" style="font-weight: 400;">
        </div>
        <small class="text-danger" *ngIf="
      !ProtoReqForm.controls.systemname.valid &&
      ProtoReqForm.controls.systemname.touched
    "> System Name is required</small>
      </div>
      <div class="col-md-6">
        <div class="form-group text-field">
          Purpose of Activity <dot></dot>
          <input type="text" class="form-control" id="purposeact" formControlName="storagePurpose"
            style="font-weight: 400;">
        </div>
        <small class="text-danger" *ngIf="
!ProtoReqForm.controls.storagePurpose.valid &&
ProtoReqForm.controls.storagePurpose.touched
"> Purpose of Activity is required</small>
      </div>
    </div>
    <div class="row" style="
        width: 100%;">
      <div class="col-md-12">
        <div class="form-group text-field">
          Activity <dot> </dot>
          <textarea rows="4" type="text" class="form-control" id="act" formControlName="activity"
            style="font-weight: 400;">
        </textarea>
        </div>
        <small class="text-danger" *ngIf="
      !ProtoReqForm.controls.activity.valid &&
      ProtoReqForm.controls.activity.touched
    "> Activity is required</small>
      </div>
    </div>
    <h5 style="font-weight: 600;">Part Details</h5>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" id="protorequest" style="width: 97%;">
          <tr class="tableheader">
            <th>S.No</th>
            <th> Finas Id
            </th>
            <th>Part Number <dot></dot>
            </th>
            <th> Description <dot></dot>
            </th>
            <th>Quantity <dot></dot>
            </th>
            <th>ZGS <dot></dot>
            </th>
            <th>To be Scrapped / Stored <dot></dot>
            </th>
            <th>Delete</th>
          </tr>
          <tbody formArrayName="umcsParts">
            <tr class="tablerow" *ngFor="let part of rowForms.controls;let i =index" [formGroupName]="i">
              <td>{{(i+1)}}</td>
              <td>
                <input type="text" class="form-control" formControlName="finasid">
                <small class="text-danger" *ngIf="
              !part.controls.finasid.valid &&
              part.controls.finasid.touched
            "> Finas Id is required</small>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="partnumber" minlength="8" maxlength="15"
                  (keypress)="nospace($event)">
                <small class="text-danger" *ngIf="
              !part.controls.partnumber.valid &&
              part.controls.partnumber.touched
            ">Part Number is required <br>(Should be minimum 8 characters)</small>

              </td>
              <td>
                <input type="text" class="form-control" formControlName="description">
                <small class="text-danger" *ngIf="
              !part.controls.description.valid &&
              part.controls.description.touched
            "> Description is required</small>
              </td>
              <td><input type="text" class="form-control" formControlName="quantity" (keypress)="keyAlpha($event)">
                <small class="text-danger" *ngIf="
              !part.controls.quantity.valid &&
              part.controls.quantity.touched
            ">Quantity is required</small> </td>

              <td><input type="text" class="form-control" formControlName="zgs" (keypress)="keyAlpha($event)">
                <small class="text-danger" *ngIf="
              !part.controls.zgs.valid &&
              part.controls.zgs.touched
            ">Zgs is required</small> </td>

              <td style="width: 20%">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control control--radio">Scrap
                        <input type="radio" value="Scrap" formControlName="scraporstored" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control control--radio">Stored
                        <input type="radio" formControlName="scraporstored" value="Stored" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center"> <button *ngIf="rowForms.controls.length >1" class="btn btn-default"
                  (click)="deleteRow(i)"><i class="fas fa-trash"></i></button> </td>
            </tr>
          </tbody>
        </table>
        <p style="    font-weight: 600;
      color: #009688;font-size: 16px;">Note : Kindly confirm the part availability with the R&D Stores before
          initiating the request.
        </p>
      </div>
    </div>
    <div style="text-align: right;padding-right: 34px;">
      <button class="btn btn-default btn-md" (click)="addRow()" style="margin:10px 0px;"><i
          class="fa fa-plus"></i>&nbsp;&nbsp;Add
        Row</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" style="width:97%;">
          <tr class="tableheader">
            <th class="text-field">AO Drawing Available <dot></dot>
            </th>
            <th class="text-field">Fitment Report <dot></dot>
            </th>
            <th class="text-field">Finas Update <dot></dot>
            </th>
          </tr>
          <tbody>
            <tr>
              <td style="width: 380px;">
                <div style="max-width: 380px;">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control control--radio">Yes
                          <input type="radio" value="1" id="aodrawyes" formControlName="aodrawing"
                            (change)="aodrawyes($event.target.value)" />
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control control--radio">No
                          <input type="radio" value="0" id="aodrawno" formControlName="aodrawing"
                            (change)="aodrawyes($event.target.value)" />
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="aoyes">
                    <input class="form-control" id="aoyesfield" placeholder="AO Drawing Number" type="text"
                      formControlName="aodrawingtext" style="font-size: 12px;">
                  </div>
                  <div class="row" *ngIf="aono">
                    <div class="col-md-6" style="">
                      <label style="font-size: 12px;text-align: center;
                      width: 130px;font-weight: 600;">Attach Draft / Reference Drawing</label>
                      <br>
                      <label class="btn btn-sm btn-primary" for="aonofield">Select Multiple Files</label>
                      <input class="form-control" id="aonofield" type="file" #aodrawupload accept=".xlsx,.xls,.pdf"
                        value="" formControlName="filepath" (change)="uploadfile($event)" multiple>
                      <br>
                    </div>
                    <div class="col-md-5">
                      <section class="scroll-file">
                        <ng-container *ngFor="let data of fileUploadArr; let i=index">
                          <span class="filename" style="font-size: 12px;
                       font-weight: 600;" id="upload{{i}}"> {{data.filename}} &nbsp;&nbsp;<i class="fa fa-times"
                              (click)="deleteUpload(i)" style="font-size: 14px;cursor: pointer;"></i></span>
                        </ng-container>
                        <ul class="list-group-category" style="padding-left: 26px;height: 20vh;
                        overflow: auto;">
                          <ng-container *ngFor="let file of fileDownloadList ; let i =index">
                            <li class="list-group" style="margin-bottom: 8px;">{{file.filename}}&nbsp;&nbsp;<i
                                class="fa fa-download" (click)="downlaodfile(file.filename,file.id)"
                                style="font-size: 15px;color: #130f0fb5;cursor: pointer;"></i></li>
                          </ng-container>
                        </ul>
                      </section>
                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                </div>
              </td>
              <td style="width: 380px;">
                <div style="max-width: 380px;">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control control--radio">Yes
                          <input type="radio" value="1" id="fitmentreportyes" formControlName="fitmentreport"
                            (click)="FiementReportYes($event,$event.target.value)">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control control--radio">No
                          <input type="radio" value="0" id="fitmentreportno" formControlName="fitmentreport"
                            (click)="FiementReportNo($event,$event.target.value)">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="reportno">
                    <div class="col-md-12">
                      <textarea class="form-control" value="remark" type="text" placeholder="Remarks"
                        formControlName="fitmentremarks" style="font-size: 12px;"></textarea>
                    </div>
                  </div>
                </div>
              </td>
              <td style="width: 380px;">
                <div style="max-width: 380px;">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control control--radio">Yes
                          <input type="radio" value="1" id="finasupdateyes" formControlName="finasupdate"
                            (click)="FinasUpdateYes($event,$event.target.value)">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control control--radio">No
                          <input type="radio" value="0" id="finasupdateno" formControlName="finasupdate"
                            (click)="FinasUpdateNo($event,$event.target.value)">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="updateno">
                    <div class="col-md-12">
                      <textarea class="form-control" value="remark" type="text" placeholder="Remarks"
                        formControlName="finasupdateremarks" style="font-size: 12px;"></textarea>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div style="text-align: right;margin: 0px 0px 20px 0px;padding-right: 34px;">

    <button class="btn btn-primary btn-md" (click)="submitForm()" style="margin: 0px 0px 40px 0px;"><i
        class="fa fa-save"></i>&nbsp;&nbsp;Submit</button>
    <!-- <button (click)="testcase()">Test Save</button> -->
  </div>
</div>
</div>