input::-webkit-calendar-picker-indicator {
    display: none;
  }

/* media query */


 #mistable,th{
    font-size: 12px !important;
  }
  #mistable,td{
    font-size: 10px !important;
  }
.form-control{
  font-size: 11px !important;
}


  #sno{
    width:4% !important;
  }
  #partno{
    width:10% !important;
  }
  #issuedqtn{
    width:6% !important;
  }
  #remark{
    width:10% !important;
  }
  #issuedzgs{
    width:7% !important;
  }
  #partcheck{
    width:15% !important;
  }
  .sidetext{
    color: #fff;
    padding: 7px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-left: 4px solid #242536;
  }
  .active{
    background: #030305;
    color: #fff;
    box-shadow: 0 0 2px 0 #828387;
    border-left: 4px solid #ffb946;
    /* margin-left: 6px; */
    white-space: nowrap;
  }
  p.sidetext:hover{
    background: #030305;
    color: #fff;
    box-shadow: 0 0 2px 0 #828387;
    border-left: 4px solid #ffb946;
    /* margin-left: 6px; */
    white-space: nowrap;
  }
