::ng-deep{
    g.highcharts-axis-labels.highcharts-yaxis-labels {
        display: none;
    }
    path.highcharts-button-symbol {
        display: none;
    }
    text.highcharts-credits {
        display: none;
    }
    text.highcharts-subtitle {
        display: none;
    }
    text.highcharts-axis-title {
        display: none;
    }
}
