<app-spinner *ngIf="loading"></app-spinner>
<div class="col-md-2" style="padding: 0;
background-color: #242536; height: 100vh;">
  <div style="margin-top: 15px;">
    <p class="sidetext" routerLinkActive="active" (click)="nmcslist()"><i
        class="fa fa-angle-double-right"></i>&nbsp;&nbsp;NMCS List</p>
    <p class="sidetext" *ngIf="!isStoreLogin" (click)="addsto()" routerLinkActive="active"><i
        class="fa fa-plus"></i>&nbsp;&nbsp;New
      Request</p>

    <p class="sidetext active" *ngIf="!isStoreLogin" (click)="upload()" routerLinkActive="active"><i
        class="fa fa-upload"></i>&nbsp;&nbsp;Upload
      Partlist</p>



  </div>
</div>
<div class="col-md-10">
  <div class="row">
    <div class="col-md-4">
      <h4>New Material Credit Slip - File Upload</h4>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2" style="padding-right: 40px;">
    </div>
  </div>
  <div class="row" style="
padding: 10px;
width: 100%;">

    <!-- <form [formGroup]="form"> -->

    <form [formGroup]="form">

      <div class="">
        <div class="row">

          <div class="col-md-3">

            Storage Type:
            <dot></dot>
            <ng-container *ngIf="isShowValue == false">
              <select class="form-control" name="" id="" formControlName="storagetype" style="border-radius:3px;">
                <option value=null selected disabled>Select Storage Type</option>
                <option value="Unused">Unused</option>
                <option value="Made in Mechanical Workshop"> Made in Mechanical Workshop</option>
              </select>
            </ng-container>
              <ng-container *ngIf="isShowValue == true">
                <select class="form-control" name="" id="" formControlName="storagetype" style="border-radius:3px;"
                  disabled>
                  <option value=null selected disabled>Select Storage Type</option>
                  <option value="Unused">Unused</option>
                  <option value="Made in Mechanical Workshop"> Made in Mechanical Workshop</option>
                </select>
              </ng-container>
              <br>
              <small class="text-danger errormsg" *ngIf="
                              !form.controls.storagetype.valid &&
                              form.controls.storagetype.touched
                            ">Storage Type is required</small>

          </div>
          <div class="col-md-3">

            Purpose
            <dot></dot>
            <ng-container *ngIf="isShowValue == false">
              <input type="text" class="form-control" value="" formControlName="storagePurpose"
                placeholder="Purpose/Project">
            </ng-container>
            <ng-container *ngIf="isShowValue == true">
              <input type="text" class="form-control" value="" formControlName="storagePurpose"
                placeholder="Purpose/Project" disabled>
            </ng-container>
            <small class="text-danger errormsg" *ngIf="
                                !form.controls.storagePurpose.valid &&
                                form.controls.storagePurpose.touched
                              ">Purpose is required</small>
          </div>

          <div class="col-md-3">

            HR ID
            <dot></dot>
            <ng-container *ngIf="isShowValue == false">
              <input type="text" class="form-control" value="" formControlName="hrid" placeholder="HR/1234">
            </ng-container>
            <ng-container *ngIf="isShowValue == true">
              <input type="text" class="form-control" value="" formControlName="hrid" placeholder="HR/1234" disabled>
            </ng-container>
            <small class="text-danger errormsg" *ngIf="
                          !form.controls.hrid.valid &&
                          form.controls.hrid.touched
                        "> HR ID is required</small>
          </div>

          <div class="col-md-3">

            Contact Mobile Number
            <dot></dot>
            <ng-container *ngIf="isShowValue == false">
              <input type="number" class="form-control" value="" formControlName="contactno" maxlength="10">
            </ng-container>
            <ng-container *ngIf="isShowValue == true">
              <input type="number" class="form-control" value="" formControlName="contactno" maxlength="10" disabled>
            </ng-container>
            <small class="text-danger errormsg" *ngIf="
                          !form.controls.contactno.valid &&
                          form.controls.contactno.touched
                        ">Contact Mobile Number is not valid</small>


          </div>

        </div>

        <div class="row">




        </div>

      </div>

      <hr>
      <div class="row" *ngIf="isShowValue == true">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr class="tableheader">
              <th>S.No</th>
              <!-- <th>Finas Id<dot></dot>
                            </th> -->
              <th>Part No<dot></dot>
              </th>
              <th>Description<dot></dot>
              </th>
              <th>ZGS<dot></dot>
              </th>
              <th>Quantity<dot></dot>
              </th>
              <th style="text-align: center">Finas ID</th>
            </tr>
            <tbody formArrayName="nmcsPartsDummy">
              <ng-container *ngFor="let row of rowForms.controls;let i =index" [formGroupName]="i">

                <tr class="tablerow">
                  <td style="text-align: center;">
                    {{(i+1)}}


                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="partnumber" minlength="8" maxlength="15"
                      (keypress)="nospace($event)" disabled>
                    <small class="text-danger errormsg" *ngIf="
                                  !row.controls.partnumber.valid &&
                                  row.controls.partnumber.touched
                                ">Part Number is required <br> (Should be minimum 8 characters)</small>
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="description" disabled>
                    <small class="text-danger errormsg" *ngIf="
                                  !row.controls.description.valid &&
                                  row.controls.description.touched
                                ">Description is required</small>
                  </td>
                  <td> <input type="text" class="form-control" formControlName="zgs" (keypress)="keyAlpha($event)"
                      disabled>
                    <small class="text-danger errormsg" *ngIf="
                            !row.controls.zgs.valid &&
                            row.controls.zgs.touched
                          ">ZGS is required</small></td>
                  <td>

                    <input disabled type="number" class="form-control" formControlName="quantity" disabled>
                  </td>
                  <td style="text-align: center"><button class="btn btn-sm btn-default" (click)="viewFinasid(i)"><i
                        class="fa fa-eye"></i>&nbsp;&nbsp;View</button></td>
                </tr>



              </ng-container>
            </tbody>



          </table>

        </div>
      </div>


    </form>

    <div class="" *ngIf="isShowValue == false">
      <div class="row">

        <div class="col-md-12">
          <label for="uploadFilePartidl" class="btn btn-md addnew btn-primary">
            Select File</label>
          <input type="file" id="uploadFilePartidl" #uploadFilePartid style="display: none;"
            (change)="uploadfile($event)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
          <span class="filename"> {{fileName}}</span>
        </div>

        <div class="col-md-12">
          <a download href="assets/NMCS_template.xlsx">Download Template<i class="fas fa-cloud-download-alt"
              style="font-size: 16px;color: #000000;"></i></a>
        </div>
      </div>

      <div class="row">


      </div>

    </div>

    <!-- <hr> -->


    <!-- </form> -->

    <div style="text-align: right;" *ngIf="isShowValue == false">
      <button class="btn btn-primary" (click)="submitForm()">Preview</button>
    </div>
    <div style="text-align: right;">
      <button class="btn btn-primary btn-md" (click)="uploadCancel()" *ngIf="isShowValue == true"><i
          class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary btn-md" (click)="uploadConfirm()" *ngIf="isShowValue == true"><i
          class="fa fa-save"></i>&nbsp;&nbsp;Confirm</button>
    </div>



    <div class="modal fade" id="uploadpackmaster" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-10">
                <p class="modalHeader">Add File</p>
              </div>
              <div class="col-md-2">
                <button type="button" class="close" (click)="cancel()">&times;</button>
              </div>
              <br>
              <div class="col-md-12">
                <p> Are you sure want to Upload file ? </p>
                <div class="suppfilename">{{UploadPartmasterfinallfile | json}}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-md addnew" (click)="cancel()">No</button>
            <button type="button" class="btn btn-md addnew" (click)="submitForm()">Yes
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



<!-- confirm modal -->

<div class="modal fade" id="confirmSubmit" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10">
            <p class="modalHeader" style="font-weight: 600;">Preview</p>
          </div>
          <div class="col-md-2">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <br>
          <div class="col-md-12">
            <p> Are you sure to preview the form ?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">No </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="confirmSubmit()">Yes</button>
      </div>
    </div>
  </div>
</div>



<!-- upload cancel modal -->

<div class="modal fade" id="cancelUpload" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10">
            <p class="modalHeader" style="font-weight: 600;">Cancel</p>
          </div>
          <div class="col-md-2">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <br>
          <div class="col-md-12">
            <p> Are you sure to cancel the form ?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">No </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="confirmCancel()">Yes</button>
      </div>
    </div>
  </div>
</div>



<!-- upload confirm modal -->

<div class="modal fade" id="confirmUpload" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10">
            <p class="modalHeader" style="font-weight: 600;">Confirm</p>
          </div>
          <div class="col-md-2">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <br>
          <div class="col-md-12">
            <p> Are you sure to confirm the form ?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">No </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="confirmUploadForm()">Yes</button>
      </div>
    </div>
  </div>
</div>




<!-- finsa id modal -->

<div class="modal fade" id="addfinasid" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Finas ID</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row">
            <div class=" col-md-12 table-responsive">
              <table class="table" style="border: 1px solid #ccc;">
                <thead>
                  <tr>
                    <th style="border: 1px solid #ccc;">
                      S.No
                    </th>
                    <th style="border: 1px solid #ccc;">Finas ID</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let data of partsvalue | paginate: { itemsPerPage: 10, currentPage: p1,id: 'two'};let index=index;">
                    <tr>
                      <td style="border: 1px solid #ccc;"> {{index+1}}</td>
                      <td style="border: 1px solid #ccc;">{{data.finasid}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <br>
              <pagination-controls style="text-align: right;" *ngIf="partsvalue?.length!=0" (pageChange)="p1 = $event"
                #api id="two">
              </pagination-controls>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-md  btn-black" (click)="confirmAddcostcenter()">Submit</button>
            <button type="button" class="btn btn-md btn-black" data-dismiss="modal">Cancel </button> -->
      </div>
    </div>
  </div>
</div>