<app-spinner *ngIf="loading"></app-spinner>
<div class="col-md-12">
  <h4>Used Material Credit Slip</h4>
</div>


<div class="row" style="box-shadow: 1px 1px 1px 1px #d6d6d6;
        padding: 10px;
        width: 100%;background: #fbfbfb;">

  <form [formGroup]="form">

    <div class="">
      <div class="row">
        <!-- createddate -->
        <div class="col-md-3">

          Requested Date
          <input type="text" class="form-control" value="" formControlName="createddate" readonly>

        </div>
        <div class="col-md-3">

          Form ID
          <input type="text" class="form-control" value="" formControlName="umcsformid" readonly>

        </div>
        <div class="col-md-3">

          Creditor Name
          <input type="text" class="form-control" value="" formControlName="creditorname" readonly>

        </div>
        <div class="col-md-3">

          Purpose
          <input type="text" class="form-control" value="" formControlName="storagePurpose" readonly>

        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">

          HR ID
          <input type="text" class="form-control" value="" formControlName="hrid" readonly>
          <br>
          <small class="text-danger errormsg" *ngIf="
                  !form.controls.hrid.valid &&
                  form.controls.hrid.touched
                ">HR ID is required</small>

        </div>
        <div class="col-md-3">

          Contact Number
          <input type="text" class="form-control" value="" formControlName="contactno" readonly>
          <br>
          <small class="text-danger errormsg" *ngIf="
              !form.controls.contactno.valid &&
              form.controls.contactno.touched
            ">Contact Number is required</small>

        </div>

        <div class="col-md-3">

          Department
          <!-- <select readonly class="form-control" name="" id="" formControlName="deptid">
                <ng-container *ngFor="let data of deptList;let index = index ; ">
                  <option value={{data?.id}}>{{data.name}}</option>
                </ng-container>
              </select> -->

          <input type="text" class="form-control" value="" formControlName="department" readonly>
          <small class="text-danger errormsg" *ngIf="
              !form.controls.department.valid &&
              form.controls.department.touched
            ">Contact Number is required</small>
        </div>

        <!-- <div class="col-md-3 ">

                  Approver
                  <input type="text" class="form-control" value="" formControlName="appproverid">

                </div> -->

        <div class="col-md-3">

          Period of Storage
          <select name="" id="" class="form-control" formControlName="storagePeriod" disabled>
            <option value=null selected disabled>Select Period of Storage </option>
            <option value="1month">Less than 1 Month</option>
            <option value="2months">More than 1 Month and Less than 3 Months</option>
            <option value="3months">Greater than 3 Months</option>
          </select>
          <!-- <ng-container *ngIf="patchValue?.storagePeriod == '1month'">
            <input type="text" class="form-control" value="Less than 1 Month" formControlName="storagePeriod" readonly>
          </ng-container>
          <ng-container *ngIf="patchValue?.storagePeriod == '2months'">
            <input type="text" class="form-control" value="More than 1 Month and Less than 3 Months"
              formControlName="storagePeriod" readonly>
          </ng-container>
          <ng-container *ngIf="patchValue?.storagePeriod == '3months'">
            <input type="text" class="form-control" value="Greater than 3 Months" formControlName="storagePeriod"
              readonly>
          </ng-container> -->
        </div>


      </div>
      <div class="row">
        <div class="col-md-3">
          Store Approval Remarks
          <input type="text" class="form-control" value="" formControlName="storeacceptremarks" readonly>

        </div>
        <div class="col-md-3" *ngIf="patchValue?.status == 'l4approved'">
          Proto L4 Remarks
          <input type="text" class="form-control" value="" formControlName="l4remarks" readonly>
        </div>
        <div class="col-md-3" *ngIf="patchValue?.status == 'l3approved'">
          Proto L3 Remarks
          <input type="text" class="form-control" value="" formControlName="l3remarks" readonly>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>

    </div>

    <hr>
    <!-- <h4>{{form.value|json}}</h4>
            <hr> -->
    <div class="row">
      <div class="col-md-12">
        <table id="umcs_table" class="table table-bordered">
          <tr class="tableheader">
            <th>S.No</th>
            <th>Part No</th>
            <th>Description</th>
            <th>Parts Removed From Vehicle No</th>
            <th>Quantity</th>
            <!-- <th>Delete</th> -->
            <th *ngIf="isApproved">Action</th>
          </tr>
          <tbody formArrayName="umcsParts">
            <tr class="tablerow" *ngFor="let row of rowForms.controls;let i =index" [formGroupName]="i">
              <td style="text-align: center;">
                {{(i+1)}}
              </td>

              <td>
                <input readonly type="text" class="form-control" formControlName="partnumber">
              </td>
              <td>
                <input readonly type="text" class="form-control" formControlName="description">
              </td>
              <td> <input readonly type="text" class="form-control" formControlName="vehicleno"></td>

              <td> <input readonly type="number" class="form-control" formControlName="quantity"></td>

              <td *ngIf="isApproved">
                <input type="text" class="form-control" formControlName="location">
              </td>
            </tr>
          </tbody>



        </table>

      </div>
    </div>

    <!-- <div *ngIf="!isPending" class="col-md-4 col-md-offset-8">
            Remarks:
          <input type="text" class="form-control" value="" formControlName="remarks" readonly >
        </div> -->


  </form>
  <br><br>


  <div *ngIf="isPending  && (isexpired == 0)">
    <form [formGroup]="approvalForm" class="row">
      <div class="col-md-4 col-md-offset-8"
        *ngIf="!isApproved && ((formStatus == 'accepted' &&
          formTypes == 'L4') || (formStatus == 'l4approved' && formTypes == 'L3') || (formStatus == 'l3approved' && formTypes == 'L2'))">

        Remarks:
        <input type="text" class="form-control" value="" formControlName="remarks">
        <br>
        <small class="text-danger errormsg" *ngIf="
                !approvalForm.controls.remarks.valid &&
                approvalForm.controls.remarks.touched
              ">Remarks is required</small>

      </div>
    </form>
    <br>

    <!-- <div class="row" *ngIf="!isApproved">
          <div style></div>
          <button class="btn btn-primary" style="background: green;" (click)="acceptForm(true)">
            <i class="icon-ok"></i>&nbsp;&nbsp;Approve
          </button>
          <button class="btn btn-danger col-md-2 col-md-offset-1" (click)="acceptForm(false)">
            <i class="icon-remove"></i>&nbsp;&nbsp;Reject
          </button>
        </div> -->
    <div class="row" style="float:right;"
      *ngIf="!isApproved && ((formStatus == 'accepted' &&
         formTypes == 'L4') || (formStatus == 'l4approved' && formTypes == 'L3') || (formStatus == 'l3approved' && formTypes == 'L2'))">
      <div class="col-md-12">
        <button class="btn btn-primary btn-" style="background: green;border: none;width:100px;"
          (click)="acceptForm(true)">
          <i class="fa fa-check"></i>&nbsp;&nbsp;Approve
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" style="border: none; background: #c9302c;;width:100px;"
          (click)="acceptForm(false)">
          <i class="fa fa-times"></i>&nbsp;&nbsp;Reject
        </button>
      </div>
    </div>

  </div>
  <div *ngIf="!isPending  && (isexpired == 1)">
    <form [formGroup]="approvalForm" class="row">
      <div class="col-md-4 col-md-offset-8"
        *ngIf="!isApproved && ((formStatus == 'accepted' &&
          formTypes == 'L4') || (formStatus == 'l4approved' && formTypes == 'L3') || (formStatus == 'l3approved' && formTypes == 'L2'))">

        Remarks:
        <input type="text" class="form-control" value="" formControlName="remarks">
        <br>
        <small class="text-danger errormsg" *ngIf="
                !approvalForm.controls.remarks.valid &&
                approvalForm.controls.remarks.touched
              ">Remarks is required</small>

      </div>
    </form>
    <br>

    <!-- <div class="row" *ngIf="!isApproved">
          <div style></div>
          <button class="btn btn-primary" style="background: green;" (click)="acceptForm(true)">
            <i class="icon-ok"></i>&nbsp;&nbsp;Approve
          </button>
          <button class="btn btn-danger col-md-2 col-md-offset-1" (click)="acceptForm(false)">
            <i class="icon-remove"></i>&nbsp;&nbsp;Reject
          </button>
        </div> -->
    <div class="row" style="float:right;"
      *ngIf="!isApproved && ((formStatus == 'accepted' &&
         formTypes == 'L4') || (formStatus == 'l4approved' && formTypes == 'L3') || (formStatus == 'l3approved' && formTypes == 'L2'))">
      <div class="col-md-12">
        <button class="btn btn-primary btn-" style="background: green;border: none;width:100px;"
          (click)="acceptForm(true)">
          <i class="fa fa-save"></i>&nbsp;&nbsp;Approve
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" style="border: none; background: #c9302c;;width:100px;"
          (click)="acceptForm(false)">
          <i class="fa fa-times"></i>&nbsp;&nbsp;Reject
        </button>
      </div>
    </div>

  </div>

</div>